<div class="wrapper">
  <div class="bg-1">
    <div class="title text-center">
      <span class="title-text">
        CodeRev
      </span>
    </div>
  </div>
  <div class="bg-2">
    <div class="title text-center">
      <span class="body-text">
        One-Stop Destination for Code Review
      </span>
    </div>
  </div>
  <div class="bg-3">
    <div class="review-button">
      <button type="button" class="btn btn-dark" routerLink="/editor">
        Click to Review
      </button>
    </div>
  </div>  
</div>