/* You can add global styles to this file, and also import other style files */
html,body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}